.responsiveTable {
  width: 100%;
}

.responsiveTable td .tdBefore {
  display: none;
}

#searchbar {
  border: 2px solid black;
  border-radius: 5px;
}

#table_calls {
  border-radius: 3px;
  padding: 25px 30px 25px 25px;
  justify-content: space-between;
  margin-bottom: 25px;
  flex-basis: 25%;
  border-collapse: separate;
  border-spacing: 0 15px;
  box-sizing: border-box;
  width: 100%;
}

/* #table-header {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between; */
#table-header {
  border-radius: 3px;
  padding: 25px 30px;
  background-color: #012f60;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 25px;
  padding: 8px 0px 8px 0px;
}
#table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

@media screen and (max-width: 40em) {
  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
    padding: 0.25em;
  }

  .responsiveTable td.pivoted {
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    position: absolute;
    display: block;

    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }

  #tabledata1 {
    padding-left: 7rem !important;
  }
}
